@import "tailwindcss";
@plugin "daisyui"{
    themes: [
        "light",
        {
            black:{
                ...daisyuUIThemes["black"],
                primary: "rgb(29, 155, 240)",
                secondary: "rgb(24, 24, 24)",
            }
        }
    ],
};
